body {
  font-family: "Raleway", sans-serif;
}
.bg-image {
  background-image: url("../../assets/recurso-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-2 {
  background-image: url("../../assets/background-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-3 {
  background-image: url("../../assets/background-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-4 {
  background-image: url("../../assets/background-4.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-5 {
  background-image: url("../../assets/bg-services.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-6 {
  background-image: url("../../assets/background-event.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes scroll {
	100% {
		transform: translateX(-66.66%);
	}
}

.carrusel{
	animation: scroll 15s linear infinite;
}

/*ANIMACIONES*/
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeLeft 1s ease-in-out forwards;
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right {
  animation: fadeRight 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.jumping-element {
  animation: jump 3s ease-in-out infinite;
}
