@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.title{
    color: #263F28;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.28px;
}

.subtitle{
    color: #263F28;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

.subtitle-2{
    color: #397A3E;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;

}

.subtitle-3{
    color: #333333;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-block-start: 0;
}

.pf{
    color: #333333;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-block-end: 1rem;
}

.btn-style-deg{
    width: fit-content;
    height: 46px;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.48px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--degradado-1, linear-gradient(90deg, #79DB92 0%, #9CCE7C 100%));
    border: none;
    text-decoration-line: none ;
}

.btn-underline{
    background: none;
    border: none;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    cursor: pointer;

}

.btn-icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
}
